footer {
  padding: 8rem 4rem;
  background-color: #2d2620;
  display: flex;
  flex-wrap: wrap-reverse;
}

.colabs {
  width: 50%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.colabs img {
  min-height: 15rem;
  max-width: 15rem;
}

.footer-contact {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--color-white);
}

.text-content-footer {
  width: 80%;
  line-height: 1.5;
}

.footer-contact img {
  width: 30rem;
}

.footer-contact a{
  color: var(--color-white);
}

.footer-contact h3 {
  color: var(--color-blue);
}

@media (max-width: 900px) {
  .footer-contact, .colabs{
    width: 100%;
  }

  .footer-contact {
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 8rem 0rem;
  }
}