main{
  background-color: var(--color-white);
}

.container-limit {
  max-width: 120rem;
  margin: 0 auto;
}

.container-medium {
  min-height: 60vh;
  padding: 10rem 0;
}

.container-small {
  min-height: 55vh;
  padding: 10rem 0;
}


/* SOBRE */

.sobre {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: black;
  overflow-x: hidden;
}

.sobre::before {
  content: '';
  background: url('../images/backgound3.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  filter: brightness(.5) opacity(90%);
}

.text-container-sobre {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-sobre {
  background-color: rgba(249, 250, 251, .6);
  padding: 2rem;
  border-radius: 50px;
}

.text-container-sobre img {
  width: 50rem;
}

.text-container-sobre h3 {
  color: var(--color-blue);
}

/* PROJETOS */

.projetos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.projetos article {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 35rem;
}

.image-container-projetos {
  background-color: var(--color-blue);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px var(--color-white) solid;
  box-shadow: 0px 0px 0px 10px var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.image-container-projetos img {
  width: 8rem;
  height: 8rem;
}
.projetos article h3 {
  margin-bottom: 2rem;
}

/* MISSÃO */

.missao {
  background: #2d2620;
  padding: 0;
  overflow-x: hidden;
}

.container-missao {
  display: flex;
  align-items: center;
}

.container-missao img {
  max-height: 60vh;
}

.text-container-missao {
  color: var(--color-white);
  margin-left: 2rem;
}

.text-container-missao h2 {
  color: var(--color-white);
  margin-bottom: 3rem;
}

.text-container-missao h2 span {
  color: var(--color-blue);
}

.text-container-missao p {
  margin: 1rem;
}

.text-container-missao ul {
  margin-left: 6rem;
}

.text-container-missao ul li {
  list-style: circle;
  margin: 0.5rem 0;
}

/* Gallery */

.gallery {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.gallery h2 {
  margin-bottom: 5rem;
}

.container {
  position: relative;
  padding: 1.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  text-align: center;
  color: var(--color-white);
  background: linear-gradient(to left, transparent 0%, black 200% );
  border: none;
  cursor: pointer;
  opacity: 0.1;
}

.arrow-right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200% );
  
}

.arrow-left:hover,
.arrow-right:hover{
  opacity: 1;
}

.item {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all .6s ease-in-out;
}

.current-item {
  opacity: 1;
}

@media (min-width: 1401px){
  .container-limit {
    max-width: 140rem;
  }
}

@media (max-width: 1400px) {
  .sobre::before {
    background: url('../images/backgound3-medium.jpg') no-repeat;
    background-size: cover;
  }

  /* PROJETOS */
  .projetos article {
    min-height: 30rem;
  }

  .image-container-projetos {
    width: 8rem;
    height: 8rem;
  }

  .image-container-projetos img {
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 900px) {
  .container-medium {
    min-height: 100vh;
  } 

  .container-small {
    min-height: 80vh;
  }

  /* SOBRE */
  .sobre::before {
    background: url('../images/backgound3-small.jpg') no-repeat;
    background-size: cover;
  }

  .sobre {
    padding-top: 0;
    padding-left: 0;
    justify-content: center;
    align-items: flex-start;
  }
  
  .text-container-sobre {
    margin-top: 15rem;
  }

  /* PROJETOS */
  .projetos {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10rem 3rem;
  }

  .image-container-projetos {
    width: 6rem;
    height: 6rem;
    box-shadow: 0px 0px 0px 8px var(--color-blue);
  }

  .image-container-projetos img {
    width: 4rem;
    height: 4rem;
  }

  /* MISSAO */

  .container-missao {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 3rem 0;
  }

  .container-missao img {
    height: 40rem;
  }

  /* GALERIA */
  .gallery {
    min-height: 60vh;
  }
  .container {
    max-width: 60rem;
  }

  .item {
    width: 25rem;
    height: 25rem;
    opacity: 1;
  }


  /* ANIMATION  */
  .projetos .show-left:nth-child(2) {
    transition-delay: 0;
  }
  .projetos .show-left:nth-child(3) {
    transition-delay: 0;
  }
}

@media (max-width: 600px) {
  
  /* SOBRE */
  .sobre::before {
    background: url('../images/backgound3-very-small.jpg') no-repeat;
    background-size: cover;
  }

  .image-container-sobre {
    background-color: rgba(249, 250, 251, .6);
    padding: 2rem;
    border-radius: 20px;
  }
  
  .text-container-sobre img {
    width: 30rem;
  }

  /* MISSAO */ 
  .container-missao img {
    max-height: 25rem;
  }
  /* GALERIA */
  .container {
    max-width: 30rem;
  }
}


/* ANIMATIONS */

.hidden-right {
  opacity: 0;
  transform: translateX(20%);
  transition: all 1s;
}

.show-right {
  opacity: 1;
  transform: translateX(0);
}


.hidden-left {
  opacity: 0;
  transform: translateX(-20%);
  transition: all 1s;
}

.show-left {
  opacity: 1;
  transform: translateX(0%);
}

.doe-anim {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.doe-anim-animate {
  opacity: 1;
  filter: blur(0px);
}

.projetos .show-left:nth-child(2) {
  transition-delay: 200ms;
}
.projetos .show-left:nth-child(3) {
  transition-delay: 400ms;
}

