:root {
  --color-pink: #a9508b;
  --color-blue: #154481;
  --color-blue-second: #9dc9ec;
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-300: #d1d5db;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f3f4f6;
  --color-gray-50: #f9fafb;
  --color-white: #ccc;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:target {
  scroll-margin-top: 8rem;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

h1,
h2,
h3 {
  color: var(--color-gray-800);
}

h1,
h2 {
  font-weight: 900;
}

h3 {
  font-weight: 600;
}

@media (min-width: 1401px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
  p,
  li,
  a {
    font-size: 22px;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  p,
  li,
  a {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
}
